/* h1-h6 , links, */
* {
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}


.gallery-controller img:hover{
    cursor: pointer;
    }

    
.color-picker{
    display: flex;
    flex-direction: row;
}

