.text-nav button{
    width: 90px;
    height: 45px;
    background-color: #ffffff00;
    border-radius: 8px;
    border: solid 1px #F6F4F0;
    font-size: 16px; 
}

#font-family{
    width: 200px;
    height: 45px;
    background-color: #ffffff00;
    border-radius: 8px;
    border: solid 1px #F6F4F0;
    color: #F6F4F0;
    font-size: 20px;
}

.font button{
    background-color: #ffffff00;
    border-radius: 8px;
    border: solid 1px #F6F4F0;
    height: 45px;
    width: 45px;
    color: #F6F4F0;
    font-size: 20px;
}


/* הוספה */
/* .color-picker {
    display: flex;
    flex-direction: row;
  } */

.color-picker button{
    width: 154px;
    height: 45px;
    background-color: #ffffff00;
    border-radius: 8px;
    border: solid 1px #F6F4F0;
    color: #F6F4F0;
    font-size: 20px;
}

.align-text button{
    height: 45px;
    width: 90px;
    background-color: #ffffff00;
    border-radius: 8px;
    border: solid 1px #F6F4F0;
    color: #F6F4F0;
}

.saving-container button{
    height: 45px;
    width: 100px;
    background-color: #F6F4F0;
    color: #2e5077;
    border-radius: 8px;
    border: none;
    font-size: 20px;

}

#back-to-gallery{
    height: 50px;
    width: 260px;
    background-color: #79d7be;
    border: none;
    border-radius: 8px;
    color: #2e5077;
    font-size: 20px;
    box-shadow: 4px 6px 7px #3c7d6b;
    margin: 0 0 0 47px;
}

#saved{
    height: 50px;
    width: 150px;
    background-color: #F6F4F0;
    border: 1px solid #2e5077;
    border-radius: 8px;
    color: #2e5077;
    font-size: 20px;
    box-shadow: 2px 4px 8px #2e5077;
    margin: 0 0 0 10px;
}

.gallery-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.gallery-buttons input {
    width: 500px;
    height: 90px;
    border-radius: 13px;
    background-color: #f6f4f0;
    border: none;
    box-shadow: 3px 5px 6px #a8a8a8;
  }
  