.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}
.flex.align-content{
    align-content: space-between;
}

.flex.justify-content{
    justify-content: center;
}
.flex.space-around {
    justify-content: space-around;
}
.flex.direction{
flex-direction: row;
}
